$breakp-md: 768px;
$breakp-xxl: 1200px;

$std-gutter: 16px;
$max-width: 800px;

$color-white: #f8f8f8;
$color-black: #121212;
$color-grey-b5: #b5b5b5;
$color-grey-95: #959595;
$color-grey-dark: #808080;
$color-grey-75: #757575;
$color-grey-dark-25: #252525;

$scroll-height: 15000px;